

.first{
   background-color: hotpink;
   font-family: Arial;
}

.second{
   background-color: pink;
   font-family: Courier;
}

.third{
   background-color: lightpink;
   font-family: Corsiva;
}

.smallbox {
    border: 6px;
    border-style: solid;
    border-color: purple;
    width:30%;
    float:left;
    text-align: center;
    padding-right: 20px;

  }
.smallbox img{
  align-content: center;
  width:100%;
  padding: 30px;
}
